* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
}

body {
    /* height: 100vh; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container {
    display: grid;

    grid-template-areas:
    'menu header header header header header header header header header'
    'menu main main main main main main main main main'
    'footer footer footer footer footer footer footer footer footer footer';

    /* grid-gap: 10px; */
    background-color: #2196F3;
    /* padding: 10px; */
}

/* -------------------------------------------------------------------------- */
/*  HEADER */
/* -------------------------------------------------------------------------- */

.header {
    position: sticky;
    height: 100px;
    grid-area: header;
    background-color: #2A2D33;
    color: #fff;
    background-color: rgb(247, 247, 253);
}

.logo {
  background-color: rgb(7, 209, 148);
  height: 100px;
  /* width: 11.55%; */

  display: flex;
  justify-content: center;
  align-items: center;
}


nav {
    width: 100%;
}
/* -------------------------------------------------------------------------- */
/*  MENU/NAV */
/* -------------------------------------------------------------------------- */

.menu {
    font-size: .9rem;
    color: #fff;
    grid-area: menu;
    background-color: #2A2D33;

    display: flex;
    /* flex-direction: row; */
}

.menu ul {
    margin: 0;
    list-style-type: none;
    padding-left: 2em;
    padding-top: 2em;
}

.menu li {
    padding: .2em 0;
}

.menu li i {
    margin-right: 1em;
}

/* -------------------------------------------------------------------------- */
/*  MAIN */
/* -------------------------------------------------------------------------- */

.main {
    height: 1400px;
    grid-area: main;
    background-color: rgb(236, 236, 253);
    /* text-decoration: none; */
    /* display: flex;
    justify-content: flex-start; */
    padding: 2em;
}

.footer {
    height: 55%;
    grid-area: footer;
    background-color: black;
    color: #fff;
}

/* -------------------------------------------------------------------------- */
/*  PLAN */
/* -------------------------------------------------------------------------- */

.plan-box {
    margin: 1em;
    background-color: rgb(247, 247, 253);
    max-width: 850px;
    border-radius: 4px;
    box-shadow: 0px 3px 10px  rgb(219, 219, 232);
    position: relative;
}

.tab-top {
    font-size: .9rem;
    min-height: 30px;
    min-width: 126px;
    color: rgb(147, 150, 163);
    background-color: #F7F7FD;
    display: inline-block;
    padding: .3em 2em .3em 2em;
    /* float: right; */
    position: relative;
    top: -28px;
    left: 724.5px;
    border-top-right-radius: 4px;
    border-top-left-radius: 40px;

    text-align: center;

}

.add-plan {
    color: #fff;
    background-color: rgb(7, 209, 148);
    border: none;
    padding: .5em 1.1em .5em 1.1em;
    margin: 1em;
    border-radius: 3px;
}

.plus-btn {
    font-size: 1.2rem;
    padding: .5em 0 .5em 1.4em;
    color: rgb(7, 209, 148);
    filter: drop-shadow(0px 1px 1px #ccc);
}

.plan-row-container {
    /* background-color: #fff; */
    /* width: 30%; */
    /* margin: 1em; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
}

.plan-row {
    font-size: .9rem;
    height: 35px;
    /* background-color: rgb(236, 236, 236); */
    background-color: rgb(236, 236, 253);
    margin: .2em;
    border-radius: 3px;

    display: flex;
    align-items: center;
    /* border-top: 1px solid rgb(153, 153, 153); */
    /* padding-left: .8em; */
}


.lbs-col, .stat-col {
    display: flex;
    justify-content: center;
}

.lbs-col {
    width: 12%;

}


.weight, .reps {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reps {
    color: #fff;
    background-color: #d3d3e8;
    font-weight: bold;
}

.weight {
    /* border-left: 2px solid #fff; */
}


.heading-row .plan-row {
    /* background-color: #fff; */
    align-items: flex-end;
    justify-content: flex-start;
    /* margin: 0; */
    /* padding: 0; */
}

.heading-row .lbs-col-1 {
    width: 318px;
    /* padding: 0 .5em 0 .5em; */

    display: flex;
    justify-content: space-between;
}

.name-col, .notes-col {
    width: auto;
    min-width: 200px;
    padding: 0 .5em 0 .5em;
}

.stat-col {
    min-width: 7%;

    /* background-color: pink; */
}


.label {
    font-size: .75rem;
    color: rgb(147, 150, 163);
    background-color: #F7F7FD;

    padding-left: .3em;
}

.label i {
    padding-right: .4em;
}


.name-col {
    /* background-color: lightblue; */
}

.lbs-col-1 {
    /* background-color: lightgray; */
}

.lbs-col-2 {
    /* background-color: lightgreen; */
}

.lbs-col-3 {
    /* background-color: lightgoldenrodyellow; */
}

.notes-col {
    /* background-color: lightcyan; */
}